html {
    font-size: 14px;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(255, 242, 242);
}

main {
    margin-top: 1rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(32, 64, 86);
}

h2 {
    font-size: 1rem;
    font-weight: bold;
}

p {
    color: rgb(74, 74, 74);
}

.card {
    height: 12.5rem;
    background-color: rgb(32, 64, 86);
    border: 4px solid rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 7rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.score-heading {
    text-align: center;
}

.score-box {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    box-shadow: 4px 4px 13px -10px black;
    border-radius: 4px;
    border: 1px solid rgb(147, 147, 148);
}

.low-score {
    color: rgb(0, 0, 255);
}

button {
    margin-top: 1rem;
    width: 100%;
}
