/* Fonts */

@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Basic'), local('GentiumBasic'), url(https://fonts.gstatic.com/s/gentiumbasic/v8/KCktj43blvLkhOTolFn-MWYKogTrBb-Yb2DFwx30qLM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 700;
  src: local('Gentium Basic Bold'), local('GentiumBasic-Bold'), url(https://fonts.gstatic.com/s/gentiumbasic/v8/2qL6yulgGf0wwgOp-UqGyKD_k3lO0YJEjlKxWOdVRBo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* General Styles */

*, *:before, *:after {
    line-height: 1.25;
}

html {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1500px;
    margin: auto;
}

.show {
    display: block;
}

h1,
h2 {
    display: none;
}

.section-header {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

h3 {
    font-family: "Open Sans", sans-serif;
}

main {
    padding-top: 4rem;
}

p {
    color: rgba(44, 26, 0, 1);
    font-family: "Gentium Basic", serif;
}

.primary-background {
    background-color: rgba(0, 50, 98, 1);
    background-image: linear-gradient(19deg, rgba(0, 50, 98, 1) 0%, rgba(0, 15, 29, 1) 100%);
}

a {
    color: rgba(0, 50, 98, 1);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    text-transform: uppercase;
}

a:hover {
    color: rgba(253, 181, 21, 1);
}

.highlight-color {
    background-color: rgba(241, 143, 0, 1);
    background-image: linear-gradient(19deg, rgba(241, 143, 0, 1) 0%, rgba(196, 130, 14, 1) 100%);
}

.flex-container {
    display: flex;
}

.column {
    flex-direction: column;
}

/* Header */

header {
    height: 4rem;
    position: fixed;
    z-index: 5;
    width: 100%;
}

.menu {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
}

.expanded-menu {
    display: none;
}

header nav {
    padding: 0 1.5rem;
}

header nav img {
    -webkit-filter: invert(1) drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
    filter: invert(1) drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}

.expanded-menu-items a {
    transition: color 200ms ease-in-out;
}

.expanded-menu-items a:hover {
    color: rgba(253, 181, 21, 1);
}

.logo a {
    transition: text-shadow 200ms ease-in-out;
}

.logo a:hover {
    text-shadow: 0px 0px 5px rgba(256, 256, 256, .5);
}

/* Banner */

.banner img {
    height: 13.5rem;
    max-width: 100%;
}

.banner figure {
    flex-direction: column;
}

.banner figcaption {
    padding: 2rem 1rem;
}

.banner h3 {
    padding-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.banner p {
    font-weight: bold;
    padding-bottom: 1.5rem;
    text-align: center;
}

.banner-button {
    display: block;
    padding: .5rem 0;
    text-align: center;
    max-width: 25rem;
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
    background-color: rgba(0, 50, 98, 1);
    background-image: linear-gradient(19deg, rgba(0, 50, 98, 1) 0%, rgba(0, 15, 29, 1) 100%);
}

/* Info Section */

.info {
    margin: 1rem 1rem 2rem 1rem;
    flex-direction: column;
}

.info-feature {
    display: none;
}

.desktop {
    display: none;
}

.info-items {
    line-height: 1.75;
}

.info-items h3 {
    margin-top: .5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.info-items a {
    color: rgba(0, 80, 157, 1);
    text-decoration: none;
    text-shadow: none;
}

.info-items figcaption {
    padding: 0 1rem;
}

.info-item {
    flex-direction: column;
    margin-bottom: 2rem;
}

.info-item:last-child {
    margin-bottom: 0;
}

/* Start Learning - Academics */

.start-learning {
    padding: 2rem 1rem;
    border-top: solid 1px rgba(196, 130, 14, 1);
    border-bottom: solid 1px rgba(196, 130, 14, 1);
    background: rgba(255, 255, 255, 1);
}

.courses {
    flex-direction: column;
}

.course img,
.course h4,
.course p {
    display: none;
}

.course h3 {
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: rgba(241, 143, 0, 1);
    background-image: linear-gradient(19deg, rgba(241, 143, 0, 1) 0%, rgba(196, 130, 14, 1) 100%);
    margin: .5rem auto 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    max-width: 25rem;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
}

/* Thesis Exhibits */

.thesis {
    flex-direction: column;
}

.thesis h2 {
    padding: 1rem 0 1rem 0;
}

.thesis-feature video {
    width: 100%;
    margin-bottom: 1.5rem;
}

.thesis-feature figcaption {
    display: none;
}

.thesis-items {
    display: none;
}

/* Footer */

footer {
    padding: 1rem;
    justify-content: center;
}

footer p {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    font-family: "Open Sans", sans-serif;
}

footer nav {
    display: none;
}


/* Media Queries */

@media only screen and (min-width: 250px) {

    .banner img {
	height: auto;
    }

    .info-items figure img {
	height: 150px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
    }
}

@media only screen and (min-width: 450px) {
    .info-items figure img {
	height: auto;
    }

    footer {
	justify-content: inherit;
    }
}

@media only screen and (min-width: 680px) {

    /* Header */

    .menu {
	display: none;
    }

    .logo {
	align-items: center;
    }

    .logo a {
	text-transform: uppercase;
    }

    .logo span {
	color: rgba(253, 181, 21, 1);
    }

    .expanded-menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin: 0 auto;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
    }

    .expanded-menu a {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    }

    /* Only add padding to last three desktop menu items */
    .expanded-menu-items a:nth-child(1n + 2) {
	padding-left: 1rem;
    }

    /* Banner */

    .banner {
	padding: 2rem 1.5rem;
    }

    .banner h3,
    .banner p {
	text-align: left;
    }
    
    .banner figure {
	flex-direction: row;
    }

    .banner figcaption {
	padding: .5rem 0 0 1rem;
	align-self: center;
    }

    .banner img {
	max-height: 23.5rem;;
	width: 60%;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
    }

    .banner-button {
	max-width: 25rem;
    }

    /* Info */

    .info {
	margin: 2rem 1.5rem;
	flex-direction: row;
    }

    .info-items {
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
    }

    .info-items figure img {
	height: 200px;
    }

    .info-items figcaption {
	padding: .5rem;
    }
    
    .info-items h3 {
	margin-top: 0;
    }

    .info-item {
	width: 47%;
	padding: 0 .5rem 0 .5rem;
	margin-bottom: 0;
    }
    
    .info-item img {
	max-width: 100%;
	height: 12rem;;
    }

    .info-item:last-child {
	flex-grow: 1;
	padding: .5rem;
	background-color: rgba(241, 143, 0, 1);
	background-image: linear-gradient(19deg, rgba(241, 143, 0, 1) 0%, rgba(196, 130, 14, 1) 100%);
    }

    .info-item:last-child img {
	height: auto;
    }
    
    .info-item:last-child figcaption {
	padding-left: 1rem;
	margin: 0;
    }

    /* Start Learning - Courses */

    .start-learning {
	background-color: rgba(241, 143, 0, 1);
	background-image: linear-gradient(19deg, rgba(241, 143, 0, 1) 0%, rgba(196, 130, 14, 1) 100%);
	border: 0;
    }

    .courses {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    }

    .course {
	width: 47%;
	background: rgba(255, 255, 255, 1);
	margin: .5rem;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
    }

    .course img {
	display: block;
	width: 100%;
    }

    .course figcaption {
	padding: .5rem;
    }

    .course h3 {
	background: rgba(255, 255, 255, 1);
	padding: 0 0 .5rem 0;
	box-shadow: none;
    }

    .course p {
	display: block;
	text-align: center;
    }
    
    /* Thesis Exhibits */

    .thesis {
	margin: 0 2rem 2rem 2rem;
    }
    
    .thesis-feature figcaption {
	display: block;
    }

    .thesis-feature video {
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
    }
    
    .thesis h3 {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: .5rem;
    }

    /* Footer */ 

    footer {
	justify-content: space-between;
	padding: 2rem;
    }

    footer nav {
	display: flex;
	justify-content: space-between;
    }

    footer nav a {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
    }

    footer nav a:last-child {
	padding-left: 1.5rem;
    }
}

@media only screen and (min-width: 900px) {

    /* Banner */

    .banner figcaption {
	width: 40%;
    }
    
    .banner-button {
	outline: .03125rem solid;
	outline-color: rgba(218, 136, 7, 1);
	transition: all 250ms linear;
	margin: 0;
    }

    .banner-button:hover {
	box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 1);
	letter-spacing: .5rem;
	outline: .0625rem solid;
	outline-color: rgba(218, 136, 7, 1);
    }
    
    /* Info */
    
    .mobile {
	display: none;
    }

    .desktop {
	display: block;
    }

    .info-feature {
	display: block;
	padding-right: 1.5rem;
	max-width: 60%;
    }

    .info-feature img {
	max-width: 100%;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
    }

    .info-feature h3 {
	font-size: 2rem;
	font-weight: bold;
	padding: 2rem 0 1.5rem 0;
    }

    .info-feature-author {
	display: block;
	padding: 2rem 0 0 0;
	border: 0;
    }

    .info-feature-author p {
	color: rgba(44, 26, 0, 1);
	text-shadow: none;
	font-style: italic;
    }
    
    .info-items {
	flex-direction: column;
	flex-wrap: nowrap;
    }

    .info-items a {
	transition: all 250ms ease-in-out;
    }

    .info-items a:hover {
	color: rgba(0, 0, 0, 1);
	letter-spacing: .05rem;
    }

    .info-items figcaption {
	padding: 0;
	margin: 0;
    }
    
    .info-items figure img {
	height: auto;
	max-width: 35%;
    }

    .info-item {
	flex-direction: row;
	align-items: center;
	width: 94%;
    }

    .info-item:first-child {
	padding: 0 1rem 1rem 1rem;
    }

    .info-item:nth-child(1n + 2) {
	padding: 1rem;
    }

    .info-item img {
	max-width: 100%;
	height: auto;
    }

    .info-item:last-child {
	flex-grow: 0;
    }
    
    .info-item:last-child img {
	max-width: 35%;
    }
    
    .info-item figcaption {
	padding-left: 1rem;
    }

    /* Start Learning - Courses */

    .course {
	width: 27%;
	margin: 1rem;
	transition: box-shadow 200ms ease-in-out;
    }

    .course:hover {
	box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 1);
    }
    
    .course h3 {
	font-size: 1.35rem;
	text-align: left;
    }
    
    .course h4 {
	display: block;
	text-transform: uppercase;
	padding-bottom: .5rem;
    }

    .course p {
	text-align: left;
    }

    /* Thesis Exhibits */

    .thesis {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
    }

    .thesis h2 {
	width: 100%;
    }

    .thesis figcaption {
	padding-right: 2rem;
        width: 50%;
    }
    
    .thesis-feature {
	width: 60%;
	margin-right: 2rem;
    }

    .thesis-items {
	display: flex;
	width: 36%;
    }

    .thesis-items img {
	margin: 1rem;
	width: 40%;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 1);
    }

    .thesis-items p {
	display: none;
    }
    
    .thesis-item {
	align-items: center;
    }
}

@media only screen and (min-width: 1024px) {

    /* Header Nav */

    header nav {
	padding: 0;
    }

    header nav a:last-child {
	padding-right: 1.5rem;
    }

    header nav a:first-child {
	padding-left: 1.5rem;
    }

    /* Banner */

    .banner figure {
	justify-content: space-around;
    }

    .banner figcaption {
	align-self: center;
    }

    .banner img {
	max-width: 550px;
    }

    /* Thesis Exhibits */

    .thesis-items p {
	display: block;
    }
}

@media only screen and (min-width: 1500px) {
    .info,
    .thesis {
	margin: 2rem 0;
    }

    footer {
	padding: 2rem 0;
    }

    footer p {
	padding-left: 1.5rem;
    }

    footer nav {
	padding-right: 1.5rem;
    }
}
