html {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

header {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 5;
    padding-bottom: 10px;
    box-shadow: 0px 1px 13px 1px black;
}

header h1 {
    margin-bottom: 5px;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.6em;
    margin-bottom: 0.35em;
}

nav h2 {
    display: none;
}

nav {
    display: none;
    padding: 10px 0;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
    margin: 0;
}

.unit-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: none;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}

.unit-box {
    width: 300px;
    margin: 20px;
    opacity: 1;
}

.unit-box img {
    width: 100%;
    height: 100%;
}

.unit-box h3 {
    background-color: lightgray;
    padding: 10px;
    margin: 0;
    text-align: left;
    font-weight: bold;
    font-size: .75em;
}

.unit-box a {
    text-decoration: none;
    color: black;
}

.unit-box:hover {
    opacity: 1;
    box-shadow: 0 0 10px 4px black;
}

section {
    background: #b7fbb6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#b7fbb6, #d0f3e9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b7fbb6, #d0f3e9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b7fbb6, #d0f3e9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, #b7fbb6, #d0f3e9);
    border: solid;
    position: relative;
    top: 40px;
    width: 95%;
    margin: 0 auto 20px auto;
}

section:hover {
    background: #40863f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#40863f, #91f3d7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#40863f, #91f3d7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#40863f, #91f3d7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, #40863f, #91f3d7);
}

.padding {
    padding-top: 100px;
}

.button {
    float: right;
    margin: 7px;
    border: solid black 1px;
    padding: 3px;
    border-radius: 3px;
    font-size: 13px;
    box-shadow: 0 0 5px 0 black;
}

.button:hover {
    background: #7f7d7d;
    color: white;
}

/* Media Queries*/

@media only screen and (min-width: 420px) {
    nav {
	display: block;
    }

    .unit-box {
	opacity: .9;
    }
}

@media only screen and (min-width: 248px) {
    .unit-box h3 {
	font-size: 1.20em;
    }

    .button {
	font-size: 100%;
    }
}
